<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Business Directory Template Loocall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Business Directory Template Loocall ">
    <meta name="keywords" content="">
    <meta name="author" content="Codenpixel">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- ICONS -->
    <link rel="stylesheet" href="css/icons/fontawesome/css/style.css">
    <!-- THEME / PLUGIN CSS -->
    <link rel="stylesheet" href="css/animsition.min.css">
    <link rel="stylesheet" href="js/vendors/slick/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="animsition">
    <div class="wrapper">
        <!-- HEADER -->
        <header>
            <nav class="navbar-default navbar-fixed-top">
                <div class="container">
                    <a href="#" class="nav-trigger hidden-xs" data-toggle="modal" data-target="#myModal"></a>
                    <div class="navbar-header"> <a href="./index.html" class="navbar-brand">L<span>oo</span>call</a> </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li> <a href="index.html">Home</a> </li>
                            <li class=" dropdown"> <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="directory_profile.html">Profile (Booking)</a> </li>
                                    <li><a href="directory_profile_2.html">Profile (Discount Sale)</a> </li>
                                    <li><a href="directory_coupons.html">Profile (Coupons)</a> </li>
                                    <li><a href="directory_search_list.html">Search results list</a> </li>
                                    <li><a href="directory_search.html">Search results grid</a> </li>
                                    <li><a href="faq.html">Faq Page</a> </li>
                                    <li><a href="wizard.html">Form Wizard</a> </li>
                                </ul>
                            </li>
                            <li> <a href="directory_pricing.html">Pricing</a> </li>
                            <li class=" dropdown"> <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="directory_blog.html">Blog</a> </li>
                                    <li><a href="directory_blog_single.html">Blog single</a> </li>
                                </ul>
                            </li>
                            <li> <a href="directory_contact.html">Contact</a> </li>
                        </ul>
                    </div>
                    <div class="header-widget pull-right"> <a href="#" class="h-cart dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Cart <span class="item-count">0</span></a>
                        <ul class="dropdown-menu dropdown-menu-lg">
                            <li class="notifi-title">My Coupons</li>
                            <li class="list-group">
                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-left"> <img src="http://placehold.it/120x80" alt=""> </div>
                                        <div class="media-body clearfix">
                                            <div class="media-heading">Up to 30%</div>
                                            <p class="m-0"> <small>Shopname coupon</small> </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-left"> <img src="http://placehold.it/120x80" alt=""> </div>
                                        <div class="media-body clearfix">
                                            <div class="media-heading">Up to 30%</div>
                                            <p class="m-0"> <small>Shopname coupon</small> </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-left"> <img src="http://placehold.it/120x80" alt=""> </div>
                                        <div class="media-body clearfix">
                                            <div class="media-heading">Up to 30%</div>
                                            <p class="m-0"> <small>Shopname coupon</small> </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- last list item -->
                                <a href="javascript:void(0);" class="list-group-item"> <small>Print all coupons</small> </a>
                            </li>
                        </ul> <a href="#" class="h-login" data-toggle="modal" data-target="#myModal2" data-tab="login">Sign In</a> </div>
                </div>
            </nav>
        </header>
        <div class="page_header blog-single-image"> <img src="http://placehold.it/1680x500" class="img-responsive" alt="" />
            <div class="container">
                <div class="col-md-12">
                    <ul class="post-meta">
                        <li><i class="fa fa-clock-o"></i> March 21,2016 10:11 PM</li>
                        <li><i class="fa fa-heart"></i> 5472</li>
                        <li><i class="fa fa-comments"></i> 43</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blog-single-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 blog-quote">
                        <h5>Promotions</h5>
                        <p>"Yo sociis shiznit penatibizzle magnizzle crackalackin sure montes, check it out ridiculus"</p> <cite>&mdash; &nbsp;&nbsp; Codenpixel<span>The Founder and Coowner</span></cite>
                        <ul class="bq-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                            <li><a href="#"><i class="fa fa-behance"></i></a> </li>
                        </ul>
                    </div>
                    <div class="col-md-9 blog-single">
                        <h3>Get <span>down get</span> down fo shizzle mah fo rizzle</h3>
                        <time datetime="2008-02-14 20:00">March 21,2016 10:11 PM</time>
                        <p class="large-text">It's good for creative thought because it allows the other modes of the brain to kick in. When you let your mind wander, you begin to make creative connections. t's also good for your soul and health to be able to disengage from the ever-present to-do list.</p>
                        <p>Fo shizzle things dolizzle sit amet, for sure adipiscing elit. Nullam sapien velizzle, things volutpat, shizzlin dizzle sizzle, yo vel, . Pellentesque eget tortor. Sizzle owned. Gangsta cool dolizzle dapibizzle crackalackin tempus daahng dawg. Maurizzle fo shizzle nibh izzle break yo neck, yall. Shizzlin dizzle in tortor. Pellentesque fo shizzle rhoncizzle black. In bow wow wow habitasse platea dictumst. Shizznit dapibizzle. Bling bling tellizzle fo shizzle, pretizzle eu, mah nizzle ac, eleifend vitae, fo. Ghetto suscipizzle. Integer check out this velit fo shizzle ghetto.
                            <br>Pellentesque eget tortor. Sizzle owned. Gangsta cool dolizzle dapibizzle crackalackin tempus daahng dawg. Maurizzle fo shizzle nibh izzle break yo neck, yall. Shizzlin dizzle in tortor. Pellentesque fo</p>
                        <h4>Conclusion</h4>
                        <p>Sizzle urna, luctizzle izzle, check out this izzle, dope dang, we gonna chung. Donizzle gizzle, nisi brizzle facilisizzle malesuada, neque check out this pot gizzle, mollis fringilla libero things izzle that's the shizzle. Class aptent gangsta gangster izzle check out this dang daahng dawg conubia nostra, break yo neck, yall dang hymenizzle. Aliquam maurizzle you son of a bizzle, scelerisque , iaculizzle shit, accumsizzle i'm in the shizzle, elizzle. Dope check out this. Fusce fo shizzle mah nizzle fo rizzle, mah home g-dizzle tellivizzle, accumsan fizzle, feugizzle ma nizzle, shiznit yippiyo, sapizzle. Tellivizzle condimentizzle. Yo mamma non i saw beyonces tizzles sizzle.</p>
                        <div class="img-caption"> <img src="http://placehold.it/850x450" class="img-responsive" alt="" /> <span>Codenpixel /</span> Building your business with loocall </div>
                        <h5>Promotions</h5>
                        <p>Nunc get down get down erat shizznit yo mamma. Sheezy the bizzle. Vestibulizzle viverra laoreet dui. Quisque sizzle get down get down purus eu leo volutpizzle condimentizzle. Yo mamma potenti. Nunc at sem gangster fo shizzle tincidunt aliquizzle. Bow wow wow shizzle my nizzle crocodizzle i saw beyonces tizzles and my pizzle went crizzle fo shizzle. In erat izzle sizzle. We gonna chung malesuada.</p>
                        <p>Nunc get down get down erat shizznit yo mamma. Sheezy the bizzle. Vestibulizzle viverra laoreet dui. Quisque sizzle get down get down purus eu leo volutpizzle condimentizzle. Yo mamma potenti. Nunc at sem gangster fo shizzle tincidunt aliquizzle. Bow wow wow shizzle my nizzle crocodizzle i saw beyonces tizzles and my pizzle went crizzle fo shizzle.</p>
                        <blockquote>Are there any simple traditions you try to preserve when
                            <br>you're traveling around in different cities?</blockquote>
                        <p>Cras uhuh ... yih! check it out crackalackin mi. Yo sociis shiznit penatibizzle izzle magnizzle crackalackin sure montes, check it out ridiculus . Izzle purus dizzle, molestie quizzle, convallis shizznit, sollicitudin egizzle, sure. Maurizzle viverra shut the shizzle up commodo hizzle. Pimpin' sagittizzle. augue orci, fringilla a, aliquizzle a, condimentizzle rizzle, ipsum. Shiz imperdizzle, pimpin' crackalackin i'm in the .</p>
                        <p>Cras uhuh ... yih! check it out crackalackin mi. Yo sociis shiznit penatibizzle izzle magnizzle crackalackin sure montes, check it out ridiculus . Izzle purus dizzle, molestie quizzle, convallis shizznit, sollicitudin egizzle, sure. Maurizzle viverra shut the shizzle up commodo hizzle. Pimpin' sagittizzle. augue orci, fringilla a, aliquizzle a, condimentizzle rizzle, ipsum. Shiz imperdizzle, pimpin' crackalackin. Nulla ma nizzle..</p>
                        <div class="post-tags"> <a href="#">Travel</a> <a href="#">Promo</a> </div>
                        <div class="social"> <a href="#" class="fb"><i class="fa fa-facebook"></i> Share</a> <a href="#" class="tweet"><i class="fa fa-twitter"></i> Tweet</a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta-wrap">
            <div class="container">
                <div class="row center-content">
                    <div class="col-md-8 col-sm-7">
                        <p>Get Loocal PSD template on themeforest</p>
                    </div>
                    <div class="col-md-4 col-sm-5 text-right"> <a href="#" class="cta-btn">Buy for $12 only</a> </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 footer-widget">
                        <h5>About Us</h5>
                        <p> <a href="#">Questions? 080-123-4564</a>
                            <br> <a href="#">Our History</a>
                            <br> <a href="#">Entrepreneurship</a>
                            <br> <a href="#">Finance</a>
                            <br> <a href="#">Human Resources</a>
                            <br> <a href="#">Marketing</a>
                            <br> <a href="#">Sales</a> </p>
                    </div>
                    <div class="col-md-3 col-sm-3 footer-widget">
                        <h5>How it works</h5>
                        <p> <a href="#">What we do</a>
                            <br> <a href="#">Who we are</a>
                            <br> <a href="#">Join the team</a>
                            <br> <a href="#">Press</a>
                            <br> <a href="#">Contact Us</a>
                            <br> <a href="#">Contribute Content</a> </p>
                    </div>
                    <div class="col-md-3 col-sm-3 footer-widget">
                        <h5>Advertise</h5>
                        <p> <a href="#">Advertise With Us</a>
                            <br> <a href="#">Account Login</a>
                            <br> <a href="#">Case Studies</a>
                            <br> <a href="#">Partner With Us</a> </p>
                    </div>
                    <div class="col-md-3 col-sm-3 footer-widget last">
                        <ul class="payment-methods">
                            <li> <img src="images/other/1/1.png" class="img-responsive" alt="" /> </li>
                            <li> <img src="images/other/1/2.png" class="img-responsive" alt="" /> </li>
                            <li> <img src="images/other/1/3.png" class="img-responsive" alt="" /> </li>
                        </ul>
                        <p>Stay in the loop on all upcoming promotions,discounts and latest updates</p>
                        <form class="f-newsletter">
                            <input type="email" placeholder="E-mail address"> </form>
                        <p class="copy">&copy; 2016 Loocal. All rights reserved 2015.</p>
                    </div>
                </div>
            </div>
            <div class="footer-social">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Contact</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-envelope-o"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Facebook</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-facebook"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Twitter</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-twitter"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Google+</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-google-plus"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Pinterest</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-pinterest"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Linkedin</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-linkedin"></i></span></a> </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JAVASCRIPT =============================-->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vendors/slick/slick.min.js"></script>
    <script src="js/vendors/jquery.easing.min.js"></script>
    <script src="js/vendors/stellar.js"></script>
    <script src="js/vendors/animsition.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>