<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Business Directory Template Loocall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Business Directory Template Loocall ">
    <meta name="keywords" content="">
    <meta name="author" content="Codenpixel">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- ICONS -->
    <link rel="stylesheet" href="css/icons/fontawesome/css/style.css">
    <!-- THEME / PLUGIN CSS -->
    <link rel="stylesheet" href="css/animsition.min.css">
    <link rel="stylesheet" href="js/vendors/slick/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="animsition">
    <div class="wrapper">
        <!-- HEADER -->
        <header>
            <nav class="navbar-default navbar-fixed-top">
                <div class="container">
                    <a href="#" class="nav-trigger hidden-xs" data-toggle="modal" data-target="#myModal"></a>
                    <div class="navbar-header"> <a href="./index.html" class="navbar-brand">L<span>oo</span>call</a> </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li> <a href="index.html">Home</a> </li>
                            <li class=" dropdown"> <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="directory_profile.html">Profile (Booking)</a> </li>
                                    <li><a href="directory_profile_2.html">Profile (Discount Sale)</a> </li>
                                    <li><a href="directory_coupons.html">Profile (Coupons)</a> </li>
                                    <li><a href="directory_search_list.html">Search results list</a> </li>
                                    <li><a href="directory_search.html">Search results grid</a> </li>
                                    <li><a href="faq.html">Faq Page</a> </li>
                                    <li><a href="wizard.html">Form Wizard</a> </li>
                                </ul>
                            </li>
                            <li> <a href="directory_pricing.html">Pricing</a> </li>
                            <li class=" dropdown"> <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="directory_blog.html">Blog</a> </li>
                                    <li><a href="directory_blog_single.html">Blog single</a> </li>
                                </ul>
                            </li>
                            <li> <a href="directory_contact.html">Contact</a> </li>
                        </ul>
                    </div>
                    <div class="header-widget pull-right"> <a href="#" class="h-cart dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Cart <span class="item-count">0</span></a>
                        <ul class="dropdown-menu dropdown-menu-lg">
                            <li class="notifi-title">My Coupons</li>
                            <li class="list-group">
                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-left"> <img src="http://placehold.it/120x80" alt=""> </div>
                                        <div class="media-body clearfix">
                                            <div class="media-heading">Up to 30%</div>
                                            <p class="m-0"> <small>Shopname coupon</small> </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-left"> <img src="http://placehold.it/120x80" alt=""> </div>
                                        <div class="media-body clearfix">
                                            <div class="media-heading">Up to 30%</div>
                                            <p class="m-0"> <small>Shopname coupon</small> </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-left"> <img src="http://placehold.it/120x80" alt=""> </div>
                                        <div class="media-body clearfix">
                                            <div class="media-heading">Up to 30%</div>
                                            <p class="m-0"> <small>Shopname coupon</small> </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- last list item -->
                                <a href="javascript:void(0);" class="list-group-item"> <small>Print all coupons</small> </a>
                            </li>
                        </ul> <a href="#" class="h-login" data-toggle="modal" data-target="#myModal2" data-tab="login">Sign In</a> </div>
                </div>
            </nav>
        </header>
        <div class="page_header">
            <div class="profile_carousel">
                <div> <img src="http://placehold.it/800x800" alt=""> </div>
                <div> <img src="http://placehold.it/800x800" alt=""> </div>
                <div> <img src="http://placehold.it/800x800" alt=""> </div>
                <div> <img src="http://placehold.it/800x800" alt=""> </div>
                <div> <img src="http://placehold.it/800x800" alt=""> </div>
                <div> <img src="http://placehold.it/800x800" alt=""> </div>
                <div> <img src="http://placehold.it/800x800" alt=""> </div>
                <div> <img src="http://placehold.it/800x800" alt=""> </div>
            </div>
            <div class="container">
                <ul class="bcrumbs">
                    <li><a href="#">Restaurant guide</a> </li>
                    <li><a href="#">Restaurants Paris</a> </li>
                    <li>Restaurant Laurent - Alain Pegouret - Paris</li>
                </ul>
            </div>
        </div>
        <div class="directory-profile">
            <div class="dp-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 dph-info"> <img src="images/profile.png" class="profile-img" alt="" />
                            <div>
                                <h4>Restaurant Laurent - Alain</h4>
                                <p>41,avenue Gabriel75008 Paris +080 25 6535 22</p> <a href="#">French</a> <a href="#">Luxury</a> </div>
                        </div>
                        <div class="col-md-4 dph-reviews">
                            <p><span>9,2 &nbsp;<em>/10</em></span> 21 reviews</p>
                            <p class="dph-rec"><i class="fa fa-star-o"></i><span>178</span> Recommendations</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dp-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="dp-about">
                                <p class="space120"> <img src="images/icons/1.png" alt="" /> <span class="lead">About this listing</span> Pork belly iPhone twee dreamcatcher kitsch. Listicle cliche vegan lomo typewriter, hoodie beard mlkshk. Mumblecore squid trust fund semiotics, brunch umami typewriter meditation stumptown chartreuse.
                                    <br>
                                    <br>Whatever synth locavore, <span class="highlight-dark">roof party post-ironic vegan freegan sustainable</span>. Biodiesel pabst green juice cronut, gochujang try-hard vinyl raw denim fap chillwave cray messenger bag gentrify <span class="highlight"><b>flexitarian</b></span> umami. </p>
                                <p class="space80"> <img src="images/icons/2.png" alt="" /> <span class="lead">Our History</span> Pork belly iPhone twee dreamcatcher kitsch. Listicle cliche vegan lomo
                                    <br>typewriter, <span class="highlight-dark">hoodie beard mlkshk</span>. Mumblecore squid trust fund semiotics,
                                    <br>brunch umami typewriter meditation stumptown chartreuse. </p>
                                <p class="last"> <img src="images/icons/3.png" alt="" /> <span class="lead">Full list of services</span> Hoodie beard mlkshk. Mumblecore squid trust fund semiotics,
                                    <br>brunch umami <span class="highlight"><a href="#">typewriter</a></span> meditation stumptown chartreuse. </p>
                                <div class="dp-tags"> <a href="#">Service</a> <a href="#">Food</a> <a href="#">Catering</a> <a href="#">Weddings</a> <a href="#">Birthdays</a> <a href="#">Birthdays</a> <a href="#">French Food</a> <a href="#">...</a> </div>
                            </div>
                            <div class="dp-reviews">
                                <div class="dpr-header">
                                    <div class="review-count"> 4.9 <span class="star-ratings">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									</span>
                                        <p>211 Reviews</p>
                                    </div>
                                    <a href="#" class="dpr-btn"> <img src="images/icons/4.png" alt="" />Write a review</a>
                                </div>
                                <ul class="dpr-comments">
                                    <li> <img src="images/comment.png" alt="" />
                                        <p> <span class="lead">Best place & service in town
										<span class="star-ratings">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										</span> </span> Pork belly iPhone twee dreamcatcher kitsch. Listicle cliche vegan lomo typewriter,
                                            <br><span class="highlight-dark">hoodie beard mlkshk</span>. Mumblecore squid trust. </p>
                                        <div class="dpr-like">126 Find This Useful</div>
                                    </li>
                                    <li> <img src="images/comment.png" alt="" />
                                        <p> <span class="lead">Such a lovely place
										<span class="star-ratings">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										</span> </span> Pork belly iPhone twee dreamcatcher kitsch. Listicle cliche vegan lomo
                                            <br>typewriter, <span class="highlight-dark">hoodie beard mlkshk</span>. Mumblecore squid trust. </p>
                                        <div class="dpr-like">47 Find This Useful</div>
                                    </li>
                                </ul>
                                <input type="hidden" class="rating-tooltip-manual" data-filled="fa fa-star fa-3x" data-empty="fa fa-star-o fa-3x" data-fractions="3" />
                                <ul class="dpr-pager">
                                    <li><a href="#">1</a> </li>
                                    <li><a href="#">2</a> </li>
                                    <li><a href="#">3</a> </li>
                                    <li><a href="#">...</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="book-table">
                                <div class="bt-head text-center">
                                    <h5>Book your table</h5>
                                    <p>Free service - Confirmed immediately</p>
                                </div>
                                <div id="tabs-container">
                                    <ul class="bt-tabs">
                                        <li class="current">
                                            <a href="#tab-1"></a>
                                        </li>
                                        <li>
                                            <a href="#tab-2"></a>
                                        </li>
                                        <li>
                                            <a href="#tab-3"></a>
                                        </li>
                                    </ul>
                                    <div class="tab">
                                        <div id="tab-1" class="tab-content">
                                            <table class="calendar">
                                                <caption> March 2016 </caption>
                                                <thead>
                                                    <tr>
                                                        <th>Mon</th>
                                                        <th>Tue</th>
                                                        <th>Wed</th>
                                                        <th>Thu</th>
                                                        <th>Fri</th>
                                                        <th>Sat</th>
                                                        <th>Sun</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="off">
                                                            <a href="index.html"></a>
                                                        </td>
                                                        <td class="off">
                                                            <a href="index.html"></a>
                                                        </td>
                                                        <td class="off">
                                                            <a href="index.html"></a>
                                                        </td>
                                                        <td><a href="index.html">1</a> </td>
                                                        <td><a href="index.html">2</a> </td>
                                                        <td><a href="index.html">3</a> </td>
                                                        <td><a href="index.html">4</a> </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="index.html">5</a> </td>
                                                        <td><a href="index.html">6</a> </td>
                                                        <td><a href="index.html">7</a> </td>
                                                        <td class="active"><a href="index.html">8</a> </td>
                                                        <td><a href="index.html">9</a> </td>
                                                        <td><a href="index.html">10</a> </td>
                                                        <td><a href="index.html">11</a> </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="index.html">12</a> </td>
                                                        <td><a href="index.html">13</a> </td>
                                                        <td><a href="index.html">14</a> </td>
                                                        <td><a href="index.html">15</a> </td>
                                                        <td><a href="index.html">16</a> </td>
                                                        <td><a href="index.html">17</a> </td>
                                                        <td><a href="index.html">18</a> </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="index.html">19</a> </td>
                                                        <td><a href="index.html">20</a> </td>
                                                        <td><a href="index.html">21</a> </td>
                                                        <td><a href="index.html">22</a> </td>
                                                        <td><a href="index.html">23</a> </td>
                                                        <td><a href="index.html">24</a> </td>
                                                        <td><a href="index.html">25</a> </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="index.html">26</a> </td>
                                                        <td><a href="index.html">27</a> </td>
                                                        <td><a href="index.html">28</a> </td>
                                                        <td><a href="index.html">29</a> </td>
                                                        <td><a href="index.html">30</a> </td>
                                                        <td><a href="index.html">31</a> </td>
                                                        <td class="off">
                                                            <a href="index.html"></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="tab-2" class="tab-content">
                                            <h3>Choose your Time</h3>
                                            <div class="bt-tabs-clock"> <a href="#">1:00 AM</a> <a href="#">12:00 PM</a> <a href="#">3:00 AM</a> <a href="#">2:00 PM</a> <a href="#">5:00 AM</a> <a href="#">4:00 PM</a> <a href="#">7:00 AM</a> <a href="#">6:00 PM</a> <a href="#">9:00 AM</a> <a href="#">8:00 PM</a> <a href="#">11:00 AM</a> <a href="#">10:00 PM</a> </div>
                                        </div>
                                        <div id="tab-3" class="tab-content">
                                            <h3>Number of Persons</h3>
                                            <div class="bt-tabs-clock"> <a href="#">1 Adult</a> <a href="#">1 Child</a> <a href="#">2 Adult</a> <a href="#">2 Child</a> <a href="#">3 Adult</a> <a href="#">3 Child</a> <a href="#">4 Adult</a> <a href="#">4 Child</a> <a href="#">5 Adult</a>
                                                <br>
                                                <br>
                                                <button type="submit">Book Table</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="call-rep">
                                <p class="lead">Would like to discuss by the phone?</p>
                                <p>Call our represntative</p> <a href="#">0080 1200 222 333</a> </div>
                            <div class="dp-contact">
                                <h5>Contact Us</h5>
                                <p>we usually respond within 3 hours</p>
                                <form>
                                    <input type="text" placeholder="Your Name">
                                    <input type="email" placeholder="Your E-mail address">
                                    <input type="text" placeholder="Subject">
                                    <textarea placeholder="Your message"></textarea>
                                    <button type="submit">Submit inquiry</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta-wrap">
            <div class="container">
                <div class="row center-content">
                    <div class="col-md-8 col-sm-7">
                        <p>Get Loocal PSD template on themeforest</p>
                    </div>
                    <div class="col-md-4 col-sm-5 text-right"> <a href="#" class="cta-btn">Buy for $12 only</a> </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 footer-widget">
                        <h5>About Us</h5>
                        <p> <a href="#">Questions? 080-123-4564</a>
                            <br> <a href="#">Our History</a>
                            <br> <a href="#">Entrepreneurship</a>
                            <br> <a href="#">Finance</a>
                            <br> <a href="#">Human Resources</a>
                            <br> <a href="#">Marketing</a>
                            <br> <a href="#">Sales</a> </p>
                    </div>
                    <div class="col-md-3 col-sm-3 footer-widget">
                        <h5>How it works</h5>
                        <p> <a href="#">What we do</a>
                            <br> <a href="#">Who we are</a>
                            <br> <a href="#">Join the team</a>
                            <br> <a href="#">Press</a>
                            <br> <a href="#">Contact Us</a>
                            <br> <a href="#">Contribute Content</a> </p>
                    </div>
                    <div class="col-md-3 col-sm-3 footer-widget">
                        <h5>Advertise</h5>
                        <p> <a href="#">Advertise With Us</a>
                            <br> <a href="#">Account Login</a>
                            <br> <a href="#">Case Studies</a>
                            <br> <a href="#">Partner With Us</a> </p>
                    </div>
                    <div class="col-md-3 col-sm-3 footer-widget last">
                        <ul class="payment-methods">
                            <li> <img src="images/other/1/1.png" class="img-responsive" alt="" /> </li>
                            <li> <img src="images/other/1/2.png" class="img-responsive" alt="" /> </li>
                            <li> <img src="images/other/1/3.png" class="img-responsive" alt="" /> </li>
                        </ul>
                        <p>Stay in the loop on all upcoming promotions,discounts and latest updates</p>
                        <form class="f-newsletter">
                            <input type="email" placeholder="E-mail address"> </form>
                        <p class="copy">&copy; 2016 Loocal. All rights reserved 2015.</p>
                    </div>
                </div>
            </div>
            <div class="footer-social">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Contact</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-envelope-o"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Facebook</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-facebook"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Twitter</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-twitter"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Google+</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-google-plus"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Pinterest</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-pinterest"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Linkedin</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-linkedin"></i></span></a> </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JAVASCRIPT =============================-->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vendors/slick/slick.min.js"></script>
    <script src="js/vendors/jquery.easing.min.js"></script>
    <script src="js/vendors/stellar.js"></script>
    <script src="js/vendors/animsition.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>