<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Business Directory Template Loocall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Business Directory Template Loocall ">
    <meta name="keywords" content="">
    <meta name="author" content="Codenpixel">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- ICONS -->
    <link rel="stylesheet" href="css/icons/fontawesome/css/style.css">
    <!-- THEME / PLUGIN CSS -->
    <link rel="stylesheet" href="css/animsition.min.css">
    <link rel="stylesheet" href="js/vendors/slick/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="animsition">
    <div class="wrapper">
        <!-- HEADER -->
        <header>
            <nav class="navbar-default navbar-fixed-top">
                <div class="container">
                    <a href="#" class="nav-trigger hidden-xs" data-toggle="modal" data-target="#myModal"></a>
                    <div class="navbar-header"> <a href="./index.html" class="navbar-brand">L<span>oo</span>call</a> </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li> <a href="index.html">Home</a></li>
                            <li> <a href="index.html">How It Works</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                        </ul>

                    </div>
                    <div class="header-widget pull-right"> <a href="#" class="h-cart dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Cart <span class="item-count">0</span></a>
                        <ul class="dropdown-menu dropdown-menu-lg">
                            <li class="notifi-title">My Coupons</li>
                            <li class="list-group">
                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-left"> <img src="http://placehold.it/120x80" alt=""> </div>
                                        <div class="media-body clearfix">
                                            <div class="media-heading">Up to 30%</div>
                                            <p class="m-0"> <small>Shopname coupon</small> </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-left"> <img src="http://placehold.it/120x80" alt=""> </div>
                                        <div class="media-body clearfix">
                                            <div class="media-heading">Up to 30%</div>
                                            <p class="m-0"> <small>Shopname coupon</small> </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="media-left"> <img src="http://placehold.it/120x80" alt=""> </div>
                                        <div class="media-body clearfix">
                                            <div class="media-heading">Up to 30%</div>
                                            <p class="m-0"> <small>Shopname coupon</small> </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- last list item -->
                                <a href="javascript:void(0);" class="list-group-item"> <small>Print all coupons</small> </a>
                            </li>
                        </ul> <a href="#" class="h-login" data-toggle="modal" data-target="#myModal2" data-tab="login">Sign In</a>
                         </div>
                </div>
            </nav>
        </header>
        <!-- start: Intro search section -->
        <div class="intro" data-stellar-background-ratio="0.55">
            <div class="container">
                <div class="text-center">
                    <h2>RVBnB</h2>
                    <p class="lead">On-demand parking for your RV.</p>
                </div>
                <form class="intro-search" action="directory_search_list.html">
                    <input type="text" placeholder="What are you looking for ?">
                    <button type="submit">Search <img src="images/icons/search.png" alt="" /> </button>
                </form>
            </div>
        </div>
        <!-- end: Intro search section -->

        <div class="home-directory">
            <div class="container">
                <div class="section-head text-center">
                    <h3>Best rated services & offers</h3>
                    <p class="lead">Explore some of the best place around your place and leave a review.</p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="listing mob-space30">
                            <div class="listing-img bg-image" data-image-src="http://placehold.it/360x245">
                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Central Restaurant</a></h4>
                                <ul class="list-icon">
                                    <li> <i class="pe-7s-map-marker"></i> 45 Park Avenue, Apt. 303 New York,</li>
                                    <li> <i class="pe-7s-call"></i> 001 (917) 555-4836</li>
                                    <li> <i class="pe-7s-mail"></i> <a href="mailto:new_york@mail.com">new_york@mail.com</a> </li>
                                </ul>
                                <div class="list-ratings">4.8</div>
                            </div>
                        </div>
                        <!-- end: Listing item -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="listing mob-space30">
                            <div class="listing-img bg-image" data-image-src="http://placehold.it/360x245">
                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Central Restaurant</a></h4>
                                <ul class="list-icon">
                                    <li> <i class="pe-7s-map-marker"></i> 45 Park Avenue, Apt. 303 New York,</li>
                                    <li> <i class="pe-7s-call"></i> 001 (917) 555-4836</li>
                                    <li> <i class="pe-7s-mail"></i> <a href="mailto:new_york@mail.com">new_york@mail.com</a> </li>
                                </ul>
                                <div class="list-ratings">4.9</div>
                            </div>
                        </div>
                        <!-- end: Listing item -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                        <div class="listing">
                            <div class="listing-img bg-image" data-image-src="http://placehold.it/360x245">
                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Central Restaurant</a></h4>
                                <ul class="list-icon">
                                    <li> <i class="pe-7s-map-marker"></i> 45 Park Avenue New York</li>
                                    <li> <i class="pe-7s-call"></i> 001 (917) 555-4836</li>
                                    <li> <i class="pe-7s-mail"></i> <a href="mailto:new_york@mail.com">new_york@mail.com</a> </li>
                                </ul>
                                <div class="list-ratings">4.7</div>
                            </div>
                        </div>
                        <!-- end: Listing item -->
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-content bg-image" data-image-src="http://placehold.it/1670x845" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <h3>Promote your business today and get discount of 50%</h3>
                        <div class="space30"></div> <a href="#" class="btn btn-default btn-lg">Sign up for an account</a> </div>
                </div>
            </div>
        </div>
        <div class="home-testimonials">
            <div class="container">
                <div class="section-head text-center">
                    <h3>What our community is saying</h3> </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mob-space30">
                        <div class="quote text-center"> <img src="http://placehold.it/75x75" class="center-block" alt="" />
                            <p>Nothing draws a crowd
                                <br>quite like a crowd. </p> <cite>&ndash; P.T. Barnum</cite> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mob-space30">
                        <div class="quote text-center"> <img src="http://placehold.it/75x75" class="center-block" alt="" />
                            <p>Nothing draws a crowd
                                <br>quite like a crowd. </p> <cite>&ndash; P.T. Barnum</cite> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                        <div class="quote text-center"> <img src="http://placehold.it/75x75" class="center-block" alt="" />
                            <p>Nothing draws a crowd
                                <br>quite like a crowd. </p> <cite>&ndash; P.T. Barnum</cite> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-news">
            <div class="container">
                <div class="section-head text-center">
                    <h3>News & Updates</h3> </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mob-space30">
                        <div class="post">
                            <div class="post-thumb bg-image" data-image-src="http://placehold.it/360x250">
                                <a href="#">
                                    <div class="post-badge">Promotion</div>
                                </a>
                            </div>
                            <div class="post-detail">
                                <time datetime="2008-02-14 20:00">March 20 2016</time>
                                <h4><a href="#">How to promote your <br>business</a></h4> <a href="#" class="post-like">256</a> <a href="#" class="post-views">1255</a> </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mob-space30">
                        <div class="post">
                            <a href="#" class="post-thumb bg-image" data-image-src="http://placehold.it/360x250"></a>
                            <div class="post-detail">
                                <time datetime="2008-02-14 20:00">March 20 2016</time>
                                <h4><a href="#">10 tips for your business <br>routine</a></h4> <a href="#" class="post-like">256</a> <a href="#" class="post-views">1255</a> </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                        <div class="post">
                            <a href="#" class="post-thumb bg-image" data-image-src="http://placehold.it/360x250"></a>
                            <div class="post-detail">
                                <time datetime="2008-02-14 20:00">March 20 2016</time>
                                <h4><a href="#">Dont forget to leave 5 star <br>ratings</a></h4> <a href="#" class="post-like">256</a> <a href="#" class="post-views">1255</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta-wrap">
            <div class="container">
                <div class="row center-content">
                    <div class="col-md-8 col-sm-7">
                        <p>On-demand parking for your RV.</p>
                    </div>
                    <div class="col-md-4 col-sm-5 text-right"> <a href="#" class="cta-btn">Book Now</a> </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 footer-widget">
                        <h5>About Us</h5>
                        <p> <a href="#">Questions? 080-123-4564</a>
                            <br> <a href="#">Our History</a>
                            <br> <a href="#">Entrepreneurship</a>
                    </div>
                    <div class="col-md-3 col-sm-3 footer-widget">
                        <h5>How it works</h5>
                        <p> <a href="#">What we do</a>
                            <br> <a href="#">Who we are</a>
                            <br> <a href="#">Join the team</a>
                            <br> <a href="#">Press</a>
                            <br> <a href="#">Contact Us</a>
                            <br> <a href="#">Become a Host</a> </p>
                    </div>
                    <div class="col-md-3 col-sm-3 footer-widget">
                        <h5>Advertise</h5>
                        <p> <a href="#">Advertise With Us</a>
                            <br> <a href="#">Account Login</a>
                            <br> <a href="#">Partner With Us</a> </p>
                    </div>
                    <div class="col-md-3 col-sm-3 footer-widget last">
                        <ul class="payment-methods">
                            <li> <img src="images/other/1/1.png" class="img-responsive" alt="" /> </li>
                            <li> <img src="images/other/1/2.png" class="img-responsive" alt="" /> </li>
                            <li> <img src="images/other/1/3.png" class="img-responsive" alt="" /> </li>
                        </ul>
                        <p>Stay in the loop on all upcoming promotions, discounts and latest updates</p>
                        <form class="f-newsletter">
                            <input type="email" placeholder="E-mail address"> </form>
                        <p class="copy">&copy; 2017 RVBnB. All rights reserved.</p>
                    </div>
                </div>
            </div>
            <div class="footer-social">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Contact</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-envelope-o"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Facebook</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-facebook"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Twitter</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-twitter"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Google+</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-google-plus"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Pinterest</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-pinterest"></i></span></a> </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"> <a href="#"><span class="hidden-xs hidden-sm ">Linkedin</span><span class="visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-linkedin"></i></span></a> </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JAVASCRIPT =============================-->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vendors/slick/slick.min.js"></script>
    <script src="js/vendors/jquery.easing.min.js"></script>
    <script src="js/vendors/stellar.js"></script>
    <script src="js/vendors/animsition.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>