/* Custom CSS */ 
body{font-family: play !important;}
a:hover { text-decoration: none;}
.admin-logo {margin: -10px 0;}
.admin-logo img {width: 170px;}

.user_title{
	
	margin-top: 7px;
	
	font-weight: bold;
	color: #FA824C;
	font-size: 24px;

}
.tops{
	
	margin-top:10px
	
}
.heads{
	
	
	margin-top:20px
	
	
}

#pagi li{
	
	float:left;
	padding:5px
	
	
}
#pc li{
	
	float:left;
	padding:5px
	
}
.r_padding{
	
	padding:5px
	
}
.signin-area {
  background: #F8F8F8;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.signin-logo {
    text-align: center;
    margin: 100px 0 50px 0;
}

.form-signin {
    max-width: 330px;
    margin: 0px auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.login-wrap {
    padding: 20px;
    position: relative;
}
.user-login-info {
    background: #eaeaec;
    margin: -20px -20px 20px -20px;
    padding: 20px;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 15px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    font-size: 12px;
    border-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .btn-login {
    background: #3D1184;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans',sans-serif;
    margin: 20px 0 5px;
    border-radius: 0;
}
.form-signin a {color: #fff;}
.form-signin a:hover {text-decoration: none; color: #fff;}
.form-signin .btn-login:hover{
  color: #ddd;
}

.form-control{
    height: 35px !important;
}


/*my css*/

#ui-datepicker-div{
    z-index: 9999 !important;
}
a{
    outline: 0 none;
}

select>option{
    padding: 7px 0 7px 5px;
}

.mar10{margin: 8px 0;}
.pad0{padding: 0 !important}
.pad5{padding: 5px !important}

.pan_b{display: block;overflow: auto;}

/*loader*/
body{width: 100%; height: 100%;}
.spinner{width: 80px; height: 80px; border: 2px solid #0000FF; 
  border-top: 3px solid #f25a41; border-radius: 100%;position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; margin: auto;
  animation: spin 1s infinite linear;
}
@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
#overlay{
  height: 100%;width: 100%; background: rgba(255,255,255,0.8); position: fixed;
  left: 0; top: 0; 
  z-index: 9999;
}


/*modal style*/
.modal{
    border-radius: 0; 
}
.modal-header{
    background: #3A579D;
    color: #fff;
}
.modal-body {
  background: #f5f5f5 none repeat scroll 0 0;
  min-height: 440px;
  overflow: auto;
}
.modal-footer{background: #ddd;}


.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}
.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}
/*modal style end*/

.mybtn{
  color: #3A579D;
  background: transparent;
  border-radius: 0 none !important;
  outline: 0 none !important;
}
.mybtn:hover{
  text-decoration: underline  !important;
  transition: 0s;
}

#ui-id-1{z-index: 99999}



/*mystyle*/
.become_review {
  background: #eee none repeat scroll 0 0;
  line-height: 40px;
  margin: 5px 0;
}
.become_review>p{
  line-height: 30px;
}

.message_body {
  background: #fff none repeat scroll 0 0;
  display: block;
  height: 400px;
  margin-bottom: 20px;
  overflow: auto;
}

.mmg {
  border: 1px solid #888;
  border-radius: 4px;
  margin: 0 0 10px;
  padding: 6px;
  background: #eee;
}
.mmg > h4 {
  font-size: 15px;
  margin: 0 0 5px;
}
.mmg > p {
  color: #565656;
  font-size: 12px;
  text-align: justify;
}
.mmg > span {
  display: block;
  font-size: 11px; 
  text-align: right;
}


.mmg_extra {
  border: 1px solid #888;
  border-radius: 4px;
  margin: 0 0 10px;
  padding: 6px;
}
.mmg_extra > h4 {
  font-size: 15px;
  text-align: right;
  margin: 0 0 5px;
}
.mmg_extra > p {
  color: #565656;
  font-size: 12px;
  text-align: right;
}
.mmg_extra > span {
  display: block;
  font-size: 11px;
}


/*dash module*/
.dashModule {
  text-align: center;
}
.dashModule > a {
  background: #222222 none repeat scroll 0 0;
  border-radius: 4px;
  display: block;
  height: 200px;
  margin: 15px 0;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}
.dashModule>a:hover{
    text-decoration: none;
    background: #000000;
}
.dashModule > a > i {
  color: #fff;
  display: inline-block;
  font-size: 95px;
  padding: 40px 0 0;
}
.dashModule > a:hover > i{
    color: #FA824C;
}
.dashModule > a > h3 {
  color: #ddd;
}
.usericon {
  color: #31b0d5;
  display: block;
  font-size: 70px;
  overflow: hidden;
}

