.ui-menu-item{
	padding: 8px 0 8px 20px;
}
.listing-info{height: 200px}


/*modal style*/
.modal{
    border-radius: 0; 
}
.modal-header{
    background: #81b441 ;
    color: #fff;
}
.modal-title {
  color: #fff;
  font-size: 22px;
}
.modal-body {
  background: #f5f5f5 none repeat scroll 0 0;
  min-height: 440px;
  overflow: auto;
}
.modal-footer{background: #ddd;}

.modal-dialog{
	margin: 110px auto 10px
}
.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}
.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

.modal-footer{
	text-align: center;
}
/*modal style end*/

.intro-login {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}



.intro-login input {
  border: medium none;
  border-radius: 3px;
  color: #000;
  font-size: 16px;
  height: 62px;
  margin-left: 0.25%;
  padding: 0 34px;
  width: 100%;
  border: 1px solid #ddd;
  margin: 10px 0;
}
.intro-login button {
  background: #81b441 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  height: 62px;
  margin-left: 6px;
  margin-top: 20px;
  padding: 0 53px;
  text-align: left;
  width: 190px;
}